body {
  margin:0;
}

a {
  text-decoration: none;
}

.navigation {
  margin: 0;
  width: 100vw;
  height: 40px;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.58);
  line-height: 40px;
  color: white;
}

.nav-content {
  margin-top: 0;
  margin-bottom: 0;
  margin: auto;
  padding: 0;
  max-width: 900px;
  height: 40px;
}

.nav-icon {
  width: 50%;
  height: 100%;
  float: left;
  display: block;
}

.nav-link {
  width: 90px;
  float: left;
  display: block;
}

.nav-link-a {
  display: block;
  text-align: center;
  color: white;
  font-family: "Open Sans Condensed", sans-serif;
}

.about {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #F3F3F3;
}

.introduction {
  margin-top: 0;
  margin-bottom: 0;
  margin: auto;
  max-width: 900px;
  height: 100vh;
  display: block;
  overflow: hidden;
  position: relative;
}

.phone-mock {
  height: 90vh;
  min-height: 600px;
  float: left;
  margin-top: 10vh;
}

.intro-description {
  margin: 0;
  position: absolute;
  top: 30vh;
  left: 50%;
}

.intro-description-title {
  margin: 0;
  font-size: 5vh;
  font-family: "Open Sans Condensed", sans-serif;
}